@include media-md {
  main {
    max-width: 80%;
    font-size: 20px;
  }

  .status {
    font-size: 22px;
  }

  .reel-section {
    .reel-box {
      background-size: 130px;
      width: 130px;
      height: 130px;
    }
  }

  .credits-section {
    .credit-display-box {
      font-size: 22px;
      padding: 20px 10px;
    }
  }

  .button-section {
    .btn {
      font-size: 22px;
    }
  }
}

@include media-sm {
  .status {
    font-size: 20px;
  }

  .reel-section {
    .reel-box {
      background-size: 90px;
      width: 90px;
      height: 90px;
    }
  }

  .credits-section {
    margin: 40px 0 15px 0;

    .credit-box {
      span {
        font-size: 12px;
      }
    }

    .credit-display-box {
      font-size: 20px;
    }

    .credit-bet-box {
      width: 80px;
    }

    .credit-paid-box {
      width: 180px;
    }
  }

  .button-section {
    column-gap: 10px;

    .btn {
      font-size: 20px;
      padding: 10px 15px;
    }
  }
}

@include media-xs {
  #status {
    font-size: 18px;
  }

  .reel-section {
    .reel-box {
      background-size: 70px;
      width: 70px;
      height: 70px;
    }
  }

  .credits-section {
    margin: 30px 0 5px 0;

    .credit-display-box {
      font-size: 18px;
      padding: 15px 10px;
    }

    .credit-bet-box {
      width: 60px;
    }

    .credit-paid-box {
      width: 130px;
    }
  }

  .button-section {
    .btn {
      padding: 5px 10px;
      font-size: 18px;
    }
  }
}
