.s1 {
  background-image: url("../img/apple.png");
}

.s2 {
  background-image: url("../img/beet.png");
}

.s3 {
  background-image: url("../img/bell-pepper.png");
}

.s4 {
  background-image: url("../img/broccoli.png");
}

.s5 {
  background-image: url("../img/cherry.png");
}

.s6 {
  background-image: url("../img/eggplant.png");
}

.s7 {
  background-image: url("../img/mushroom.png");
}

.s8 {
  background-image: url("../img/orange.png");
}

.s9 {
  background-image: url("../img/plum.png");
}

.s10 {
  background-image: url("../img/raspberry.png");
}

.s11 {
  background-image: url("../img/strawberry.png");
}

.s12 {
  background-image: url("../img/watermelon.png");
}
