@import "./styles/config";
@import "./styles/status";
@import "./styles/symbols";
@import "./styles/reel";
@import "./styles/buttons";
@import "./styles/credits";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  color: $white-color;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  grid-template-areas:
    "status status status"
    "reel reel reel"
    "credits credits credits"
    "buttons buttons buttons";
  grid-row-gap: 20px;
  border-radius: 5px;
  background-color: $slot-color;
  border: 2px solid $border-color;
  margin: 30px auto 0 auto;
  padding: 20px 15px;
  max-width: 600px;
}

@import "./styles/responsive";
